doctype html
html
  head
    title Hello world!
    link(rel='stylesheet', href='assets/app.css')
  body
    h1 Hello world!
    p This is jade.
    .first 1
    .second 2
    .third 2
    .simple aaa
    script(src='assets/app.js')
